@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Your existing CSS code */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#before {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
#main {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 80%;
    width: 100%;
    font-size: xx-large;
}
#main h1 {
    width: 100%;
}
#next {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}